/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --- TEMA CLARO (Clean & Minimal) --- */
    --bg-main: #f8fafc;       /* Un blanco humo muy suave */
    --bg-card: #ffffff;       /* Blanco puro para las tarjetas */
    --text-title: #1e293b;    /* Un azul grisáceo muy oscuro (casi negro) */
    --text-body: #475569;     /* Un gris medio para lectura cómoda */
    --text-muted: #94a3b8;    /* Para fechas o textos menos importantes */
    
    /* Tu color de marca */
    --color-primary: #3AA8AD; 
    --color-primary-hover: #2d8589; /* Un poco más oscuro para el hover */
  }

  .dark {
    /* --- TEMA OSCURO (Tech & Premium) --- */
    --bg-main: #212f3d;       /* TU COLOR: Azul oscuro profundo */
    
    /* Para la tarjeta: Usamos un tono ligeramente más claro que el fondo
       o más oscuro para dar profundidad. Sugiero un tono "Surface" */
    --bg-card: #2c3e50;       
    
    /* Textos en modo oscuro (Blanco nunca es #FFF puro, cansa la vista) */
    --text-title: #f1f5f9;    /* Blanco casi puro */
    --text-body: #cbd5e1;     /* Un gris azulado claro */
    --text-muted: #64748b;    /* Gris más apagado */

    /* Tu color de marca se mantiene, pero definimos un hover más brillante para brillar en lo oscuro */
    --color-primary: #3AA8AD;
    --color-primary-hover: #4dcdd3; /* Un poco más claro/neon para resaltar */
  }
}

/* Aplicar estilos base al body para que tome el color por defecto */
body {
  background-color: var(--bg-main);
  color: var(--text-body);
    font-family: 'Ubuntu', sans-serif;
}